<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>

            <a href="/assignments/add" class="btn btn-success mb-3">Add Assignment</a>

            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Title</th>
                    <th class="text-center col-2">Course</th>
                    <th class="text-center col-2">Due Date</th>
                    <th class="text-center col-2">Status</th>
                    <th class="text-center col-3">Description</th>
                    <th class="text-center col-1">Actions</th>
                </tr>

                <% for (let count = 0; count < AssignmentList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= AssignmentList[count].title %></td>
                        <td class="text-center col-2"><%= AssignmentList[count].course %></td>
                        <td class="text-center col-2"><%= AssignmentList[count].dueDate.toDateString() %></td>
                        <td class="text-center col-2"><%= AssignmentList[count].status %></td>
                        <td class="text-center col-3"><%= AssignmentList[count].description %></td>

                        <td class="text-center col-1">
                            <a href="/assignments/edit/<%= AssignmentList[count]._id %>" 
                               class="btn btn-info btn-sm">Edit</a>

                            <a href="/assignments/delete/<%= AssignmentList[count]._id %>"
                               onclick="return confirm('Are you sure you want to delete this?');"
                               class="btn btn-danger btn-sm mt-1">Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include ../partials/footer.ejs %>
